# configuration
.git
.gitignore
.circleci
.npmrc

# documentation
*.md
*.txt

# test artifacts
**/coverage
**/*.spec.ts

# packages
node_modules/
**/node_modules

# build files
**/dist

# compose mongo data
data-node